@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  text-align: center;
  padding: 20px;
}

.greeting {
  animation: slideIn 2s ease-out;
  font-size: 2rem;
  margin-top: 20px;
}

.memoryGameContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.card {
  width: 100px;
  height: 150px;
  margin: 10px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showVideoButton {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #1e3a8a; /* темно-синий цвет */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.showVideoButton:hover {
  background-color: #2c5282; /* более светлый синий при наведении */
}

.videoSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-count: 3; /* Устанавливаем количество колонок */
  column-gap: 20px; /* Устанавливаем расстояние между колонками */
  text-align: left;
}

.videoSection p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.video {
  margin-top: 10px;
  margin-bottom: 50px;
  max-width: 100%;
  height: 500px;
}
.text{
  display: flex;
  flex-direction: row;
}